In [155]:
import pandas as pd
from faker import Faker

In [156]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [172]:
fake = Faker()

people = [fake.name().split() for i in range (10)]
people_df = pd.DataFrame(people, columns = ['Name', 'Surname'])

print(people_df)

people_df.to_csv('C:\\Users\\Starleken\\Desktop\\data1.csv')

       Name   Surname
0   Caitlin  Williams
1     James   Robbins
2   Heather     White
3    Samuel     Oneal
4    George     Woods
5     Linda     Jones
6  Michelle     Clark
7    Victor    Brandt
8     Jenna    Watson
9     David  Friedman

In [291]:
real_df = pd.read_csv('C:\\Users\\Starleken\\Desktop\\data1.csv', sep=',')
print(real_df)
print()
print(real_df.describe())

        Name   Surname
0    Caitlin  Williams
1      James   Robbins
2    Heather     White
3     Samuel     Oneal
4     George     Woods
5      Linda     Jones
6   Michelle     Clark
7     Victor    Brandt
8      Jenna    Watson
9      David  Friedman
9      David  Friedman
7     Victor   Brandtt
10       NaN   Brandtt

          Name   Surname
count       12        13
unique      10        11
top     Victor  Friedman
freq         2         2

In [292]:
print('Длина датафрейма: ' + str(len(real_df)))
print('Индексы датафрейма: ' + str(real_df.index))
print(real_df['Name'].value_counts())

Длина датафрейма: 13
Индексы датафрейма: Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 7, 10], dtype='int64')
Name
Victor      2
David       2
Caitlin     1
James       1
Heather     1
Samuel      1
George      1
Linda       1
Michelle    1
Jenna       1
Name: count, dtype: int64

In [314]:
real_df.sort_values('Name')

        Name   Surname
0    Caitlin  Williams
9      David  Friedman
9      David  Friedman
4     George     Woods
2    Heather     White
1      James   Robbins
8      Jenna    Watson
5      Linda     Jones
6   Michelle     Clark
3     Samuel     Oneal
10   Unknown   Brandtt
7     Victor    Brandt
7     Victor   Brandtt

In [313]:
real_df = real_df.fillna('Unknown')

print(real_df)

        Name   Surname
0    Caitlin  Williams
1      James   Robbins
2    Heather     White
3     Samuel     Oneal
4     George     Woods
5      Linda     Jones
6   Michelle     Clark
7     Victor    Brandt
8      Jenna    Watson
9      David  Friedman
9      David  Friedman
7     Victor   Brandtt
10   Unknown   Brandtt